<div>
    <h1 class="countdown_label">
    Countdown to the big day!
</h1>
<div class="countdown" id="countdown">
    <div class="countdown_item">
        <div class="countdown_item_number" id="years" #years></div>
        <div class="countdown_item_label">
            Years
        </div>
    </div>
    <div class="countdown_item">
        <div class="countdown_item_number" id="months" #months></div>
        <div class="countdown_item_label">
            months
        </div>
    </div>
    <div class="countdown_item">
        <div class="countdown_item_number" id="days" #days>
        </div>
        <div class="countdown_item_label">
            Days
        </div>
    </div>
    <div class="countdown_item">
        <div class="countdown_item_number" #hours>
        </div>
        <div class="countdown_item_label" id="hours">
            Hours
        </div>
    </div>
    <div class="countdown_item">
        <div class="countdown_item_number" id="minutes" #minutes></div>
        <div class="countdown_item_label">
            Minutes
        </div>
    </div>
    <div class="countdown_item">
        <div class="countdown_item_number" id="seconds" #seconds></div>
        <div class="countdown_item_label">
            Seconds
        </div>
    </div>
</div>
</div>
